.table-location-generate1 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 120px;
    overflow-x: auto;
    overflow-y: auto;
    border: 2px solid gray;
    border-radius: 5px;
  }
  
  .table-location-generate1 table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    font-size: 10px;
  }
  
  .table-location-generate1 table thead {
    background-color: #e69138;
    color: white;
  }
  .table-location-generate1 table thead tr th {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .table-location-generate1 table tbody tr td {
    padding: 10px;
    border: 1px solid black;
    /* min height should be 30 */
    color: black;
    text-align: center;
    font-size: 12px;
    height: 25px;
  }
  /* change table row background */
  .table-location-generate1 table tbody tr:nth-child(even) {
    background-color: rgb(242, 242, 221);
  }
  